.data {
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: row;
}

.data-items:hover {
    background-color: rgb(194, 189, 189);
    cursor: pointer;
}

.data-items:focus {
    border-bottom: 2px solid #67CAB5;
}

.data-items h6 {
    padding: 10px 10px;
    font-weight: normal;
}

.icons-div {
    display: flex;
    align-items: center;
}

.icons-div .des-icon {
    font-size: 25px;
}

.icons-div p {
    padding-left: 5px;
}

.main-icons {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.icons-div .icons {
    color: grey;
    display: flex;
    margin-left: 10px;
    padding: 1px 25px;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;

}

.icons:hover .des-icon {
    color: #18B394;
}
.icons:hover .title{
    color: #000;
}